.container{
    border: 3px solid black;
}


.col{
    background-color: blueviolet;
}

.pink{
    background-color: pink;
}

.orange{
    background-color: orange;
}

.salmon{
    background-color: salmon;
}

.red{
    background-color: red;
}

.cyan{
    background-color: cyan;

}
.aqua{
    background-color: aqua;
}